.reviews {
    padding-bottom: 65px;
    &__wrapper {
        margin-top: 70px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    &__name {
        color: #000000;
        font-size: 18px;
        font-weight: 700;

    }
    &__descr {
        margin-left: 50px;
    }
    &__other {
        margin-top: 15px;
    }
    &__top {
        color: #646464;
        font-size: 14px;
        font-weight: 300;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    &__line {
        background-color: #f6f6f6;
        height: 2px;
        width: 100%;
        margin-top: 45px;
    }
}